<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NewOrbitMyGet" value="https://www.myget.org/F/neworbit/auth/92ea370a-4fb8-4038-b910-bc358d752c3c/api/v3/index.json" />
    <add key="NuGet Official" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>
